{"datadir": "data",
 "outputprefix": "benchmark_",
 "sourcepostfix": ".ml",
 "assertioninfix": "_assertion",
 "assertionpostfix": ".ml",
 "benchmarks":
 [ {"adt": "queue",
    "infos": [
        {"source": "bankersq", "idx": 2, "funcname": "cons"},
        {"source": "batchedq", "idx": 1, "funcname": "cons"},
        {"source": "batchedq", "idx": 2, "funcname": "cons"},
        {"source": "bankersq", "idx": 1, "funcname": "cons"}]},
   {"adt": "stack",
    "infos": [
        {"source": "customstk", "idx": 1, "arguments": ["-sb", "4"], "funcname": "push"},
        {"source": "customstk", "idx": 3, "funcname": "push", "weakening_long_time": true},
        {"source": "customstk", "idx": 2, "funcname": "push"}]},
   {"adt": "heap",
    "infos": [
        {"source": "leftisthp", "idx": 2, "funcname": "tree", "weakening_long_time": true},
        {"source": "splayhp", "idx": 1, "funcname": "node"},
        {"source": "splayhp", "idx": 2, "funcname": "node", "weakening_long_time": true, "count_long_time": true},
        {"source": "splayhp", "idx": 3, "funcname": "node", "weakening_long_time": true, "count_long_time": true},
        {"source": "leftisthp", "idx": 1, "funcname": "tree"}]},
   {"adt": "stream",
    "infos": [
        {"source": "stream", "idx": 1, "funcname": "cons"},
        {"source": "stream", "idx": 2, "funcname": "cons"},
        {"source": "stream", "idx": 3, "funcname": "cons"},
        {"source": "stream", "idx": 4, "funcname": "cons"}]},
   {"adt": "set",
    "infos": [
        {"source": "rbset", "idx": 2, "funcname": "tree", "weakening_long_time": true, "count_long_time": true},
        {"source": "unbset", "idx": 1, "funcname": "node"},
        {"source": "unbset", "idx": 2, "funcname": "node"},
        {"source": "unbset", "idx": 3, "funcname": "node", "weakening_long_time": true},
        {"source": "uniquel", "idx": 1, "funcname": "cons"},
        {"source": "uniquel", "idx": 2, "funcname": "cons"},
        {"source": "rbset", "idx": 1, "funcname": "tree"},
        {"source": "unbset", "idx": 4, "funcname": "node"},
        {"source": "uniquel", "idx": 3, "funcname": "cons"}]},
   {"adt": "trie",
    "infos": [
        {"source": "trie", "idx": 1, "funcname": "node"},
        {"source": "trie", "idx": 2, "funcname": "node"}]}
 ]
}
