{"datadir": "data",
 "outputprefix": "benchmark_",
 "sourcepostfix": ".ml",
 "assertioninfix": "_assertion",
 "assertionpostfix": ".ml",
 "benchmarks":
 [ {"adt": "queue",
    "infos": [
        {"source": "bankersq", "idx": 2},
        {"source": "batchedq", "idx": 1},
        {"source": "batchedq", "idx": 2},
        {"source": "bankersq", "idx": 1}]},
   {"adt": "stack",
    "infos": [
        {"source": "customstk", "idx": 1, "arguments": ["-sb", "4"]},
        {"source": "customstk", "idx": 3},
        {"source": "customstk", "idx": 2}]},
   {"adt": "heap",
    "infos": [
        {"source": "leftisthp", "idx": 2},
        {"source": "splayhp", "idx": 1},
        {"source": "splayhp", "idx": 2},
        {"source": "splayhp", "idx": 3},
        {"source": "leftisthp", "idx": 1}]},
   {"adt": "stream",
    "infos": [
        {"source": "stream", "idx": 1},
        {"source": "stream", "idx": 2},
        {"source": "stream", "idx": 3},
        {"source": "stream", "idx": 4}]},
   {"adt": "set",
    "infos": [
        {"source": "rbset", "idx": 2},
        {"source": "unbset", "idx": 1},
        {"source": "unbset", "idx": 2},
        {"source": "unbset", "idx": 3},
        {"source": "uniquel", "idx": 1},
        {"source": "uniquel", "idx": 2},
        {"source": "rbset", "idx": 1},
        {"source": "unbset", "idx": 4},
        {"source": "uniquel", "idx": 3}]},
   {"adt": "trie",
    "infos": [
        {"source": "trie", "idx": 1},
        {"source": "trie", "idx": 2}]}
 ]
}
