{"datadir": "data",
 "outputprefix": "benchmark_",
 "sourcepostfix": ".ml",
 "assertioninfix": "_assertion",
 "assertionpostfix": ".ml",
 "benchmarks":
 [ {"adt": "stack",
    "infos": [
        {"source": "customstk", "idx": 1, "arguments": ["-sb", "4"], "funcname": "push"},
        {"source": "customstk", "idx": 3, "funcname": "push", "weakening_long_time": true},
        {"source": "customstk", "idx": 2, "funcname": "push"}]}
 ]
}
